<div class="min-h-screen flex items-center justify-center app-bg-layout py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Mot de passe oublié
      </h2>
      <p class="mt-2 text-center text-sm app-text-muted">
        Entrez votre email pour recevoir un lien de réinitialisation
      </p>
    </div>

    <app-card>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <app-alert
          *ngIf="error"
          type="error"
          title="DIGISIGN E-PARAPHEUR"
          [message]="error"
          (close)="error = ''">
        </app-alert>

<!--        <div *ngIf="success" class="app-alert-success">-->
<!--          Un email de réinitialisation a été envoyé à votre adresse.-->
<!--        </div>-->

        <app-alert
          *ngIf="success"
          type="success"
          title="DIGISIGN E-PARAPHEUR"
          [message]="message"
          (close)="error = ''">
        </app-alert>

        <div style="margin-bottom: 20px;">
          <app-input
            formControlName="email"
            type="email"
            label="Email"
            placeholder="votre@email.com"
            [required]="true"
            [error]="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched ? 'L\'email est requis' : forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched ? 'Email invalide' : ''">
          </app-input>
        </div>



        <app-button
          type="submit"
          variant="primary"
          [loading]="loading"
          [disabled]="forgotPasswordForm.invalid || loading || success"
          [fullWidth]="true">
          Envoyer le lien
        </app-button>

        <div class="text-center">
          <a routerLink="/login" class="text-sm font-medium app-link-primary">
            Retour à la connexion
          </a>
        </div>
      </form>
    </app-card>
  </div>
</div>

